:root {
  --light: #fff;
  --accent: #E8DAFF;
  --dark: #200b35;
  --DMserif: 'DM Serif Display', serif;
  --Noto: 'Noto Sans', sans-serif;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: 0;
}

a {
  font-weight: bold;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  cursor: pointer;
  transition: border-color 0.25s;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* custom styles */

body {
  font-family: var(--Noto);
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 6vh;
  margin: 0;
  padding: 1em;
}

nav div * {
  margin: 0;
}

nav ul,
footer ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 2em;
  padding: 0;
}

nav li,
footer li {
  margin: 1em;
  padding: 1em;
}

.social-icon {
  max-width: 20px;
}

.social-icon:hover {
  opacity: 0.75;
}

h1,
h2,
h3,
h4 {
  font-family: var(--DMserif);
}

.hero {
  position: relative;

}

.hero--content {
  margin: 2em;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.hero svg {
  position: absolute;
  top: -200px;
  opacity: 0.5;
  z-index: -1;
  min-width: 400px;
}

.hero img {
  object-fit: contain;
  object-position: center;
  max-width: 100%;
}

.marqueeContainer {
  padding: 1em;
  gap: 2em;
  font-family: var(--DMserif);
  width: auto !important;
}

.marquee-item {
  margin: 2em;
}

.project-screenshot {
  max-width: 100%;
  border: 2px solid black;
  box-shadow: 10px 10px 0px #000;
}

.projects-img-container {
  padding: 2em;
}

button:hover {
  border: 1px solid white;
}

footer {
  background-color: var(--accent);
}

/* ## MEDIA QUERIES ## */

/* @media (min-width: 769px) {

} */

/* @media (min-width: 1420px) {

} */


/* @media screen and (max-width: 768px) {

} */