:root {
  --salmon: #ffbeb0;
  --purple: #643ad9;
  --lime: #e0ff9d;
  --grey: #e7e7e7;
  --DMserif: 'DM Serif Display', serif;
  --Noto: 'Noto Sans', sans-serif;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: 0;
}


/* custom styles */

body {
  font-family: var(--Noto);
  margin: 0;
  background: var(--grey);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 10vh;
  margin: 0;
  padding: 1em;
  background: var(--salmon);
}

nav div * {
  margin: 0;
}

nav h2 {
  font-size: 2rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
  list-style-type: none;
  margin: 1em;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: var(--DMserif);
  color: var(--purple);
}

.hero img {
  object-fit: contain;
  object-position: center;
  max-width: 100%;
}

.segmented {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  gap: 1em;
  margin: 0 auto;
  max-width: 80%;
  /* height: calc(100vh - 6vh); */
}

.segmented div {
  border: 3px dashed black;
}

.textSide {
  max-width: calc(400px - 2em);
  padding: 1em;
  margin: 1em;
}

.imgSide {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  background: var(--purple);
  margin: 1em;
}

@media screen and (max-width: 768px) {
  .segmented {
    height: fit-content;
    /* flex-direction: column; */
    flex-wrap: wrap-reverse;

  }

  .imgSide,
  .textSide {
    width: auto;
  }
}