:root {
  --salmon: #ffbeb0;
  --purple: #643ad9;
  --lime: #e0ff9d;
  --grey: #e7e7e7;
  --DMserif: 'DM Serif Display', serif;
  --Noto: 'Noto Sans', sans-serif;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0;
}


/* custom styles */

body {
  font-family: var(--Noto);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  width: 100%;
  padding: 0 1em;
  border: 1px solid var(--salmon);
  position: fixed;
  top: 0;
  left: 0;
}

nav div * {
  margin: 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
  list-style-type: none;
  margin: 1em;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: var(--DMserif);
}

.hero {
  padding: 1em;
}

.hero img {
  max-width: 50%;
}

.cols-2 {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
}

.cols-2 div {
  border: 1px solid red;
}